/*
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

body {
  margin: 0;
  color: #131511;
  background-color: #F2F1E8;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
}

header {
  position: static;
  color: #2B2F26;
  background-color: #FFFFFF;
  padding: 1.5em .5em 1.5em .5em;
  /*margin: 1em 1em 1em 1em;*/
  width: 100%;
}

nav a {
  padding-right: 80px;
  text-transform: capitalize;
  color: #968772;
}

footer {
  background-color: rgb(41, 48, 38);
  color: white;
  text-align: left;
  padding: 3em 1em 3em 1em;
  margin-top: .5em;
  position: static;
}

h1, h2 {
  text-align: center;
}

h1, h2, h3 {
  padding: .3em .3em .3em .3em;
}

button {
  border-radius: 0;
  color: white;
  background-color: #968772;
}

table {
  margin: auto;
}

form {
  padding: 3em;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: .2em solid #968772;
  width: 100%;
  margin: 1em;
  background-color: #F2F1E8;
  font-size: 1em;
}

button {
  border: none;
  width: 7em;
  height: 3em;
  margin-top: .5em;
}

.birdhouse {
  height: 3.5em;
  width: 5em;
  float: left;
  margin-right: 1.5em;
}

.photoBreak {
  width: 100%;
  background: url(../weekOneProject/images/background-3.jpg) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0;
  text-align: center;
  color: white;
  font-size: 5em;
}

.submitHeading {
  padding: 2em 0 0 0;
}

.wrapper {
  margin: auto;
  max-width: 760;
  padding: 0 10em;
}

.heading {
  text-align: center;
  padding: 2em 1em 2em 1em;
}

.newsletter {
  text-align: center;
  background-image: url("../weekOneProject/images/background-2.jpg");
  width: 100%;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.photos2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.photos1>img {
  margin: .5em;
}

.photos2>img {
  margin: .5em;
}

.labels {
  padding: 1em;
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

.label1 {
  background-color: red;
}

.photo1 {
  height: 350px;
  width: 720px;
}

.photo2 {
  height: 350px;
  width: 225px;
}

.photo3 {
  height: 350px;
  width: 225px;
}

.photo4 {
  height: 230px;
  width: 220px;
}

.photo5 {
  height: 230px;
  width: 220px;
}

.photo6 {
  height: 230px;
  width: 490px;
}

.photo7 {
  height: 230px;
  width: 220px;
}

#mainWrapper {
  background-color: #F2F1E8;
}

#mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

#logo {
  position: absolute;
  height: 3.2em;
  margin: -1em;
  left: 2.5em;
}

#submitBox {
  background-color: #F2F1E8;
  width: 50em;
  height: 25em;
}
